In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# These 4 dataframes come from the previous 3 files in the project (cities:Wikipedia, weather:OpenWeatherMap, airports&flights:Aerobox)

# cities_df.csv
url = "https://drive.google.com/file/d/1k6z4oO9HGB7092aSpd2mhUXg4UYBhknl/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
cities_2 = pd.read_csv(path)

# weather_df.csv
url = "https://drive.google.com/file/d/1Q45tIKwqSNYG2Sf9hRDLrr5BiejGvcAD/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
weather_2 = pd.read_csv(path)

# airports_df.csv
url = "https://drive.google.com/file/d/1hxhreSItIZlj-A-xF6kBmkuyfhvPrCvr/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
airports_2 = pd.read_csv(path)

# flights_df.csv
url = "https://drive.google.com/file/d/1-St4CEOKh_c2fRMzGLTepKYnLDlm0-6Y/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
flights_2 = pd.read_csv(path)

# CITIES

In [ ]:
cities = cities_2.drop(
    labels = ["elevation_in_meters","elevation","website"],
    axis=1,
    inplace=False 
)


cities["population"] = cities["population"].replace(',','',regex=True)

In [ ]:
cities["city"]=cities["city"].apply(str)
cities["population"] = pd.to_numeric(cities["population"])

In [ ]:
cities

        city         country latitude longitude  population
0     Berlin         Germany  52.3112   13.2418     3677472
1    Hamburg         Germany   53.33N    10.00E     1906411
2     London  United Kingdom  51.3026     0.739     8799800
3   Istanbul          Turkey  41.0049   28.5718    15907951
4  Barcelona           Spain   41.23N     2.11E     1620343

In [ ]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        5 non-null      object
 1   country     5 non-null      object
 2   latitude    5 non-null      object
 3   longitude   5 non-null      object
 4   population  5 non-null      int64
dtypes: int64(1), object(4)
memory usage: 328.0+ bytes

# WEATHER

In [ ]:
weather_2

,city,country,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,information_retrieved_at
0,Berlin,DE,2023-02-10 12:00:00,Clouds,broken clouds,4.47,0.83,75,0.0,0,4.69,261,81,1024,10/02/2023 12:05:13
1,Berlin,DE,2023-02-10 15:00:00,Clouds,broken clouds,4.48,1.18,83,0.0,0,4.07,249,79,1027,10/02/2023 12:05:13
2,Berlin,DE,2023-02-10 18:00:00,Clouds,overcast clouds,2.91,-0.93,90,0.0,0,4.36,239,83,1030,10/02/2023 12:05:13
3,Berlin,DE,2023-02-10 21:00:00,Clouds,broken clouds,1.60,-2.96,81,0.0,0,5.08,234,79,1032,10/02/2023 12:05:13
4,Berlin,DE,2023-02-11 00:00:00,Clouds,overcast clouds,2.33,-2.28,90,0.0,0,5.54,243,81,1030,10/02/2023 12:05:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Barcelona,ES,2023-02-14 21:00:00,Clouds,few clouds,10.51,9.71,17,0.0,0,0.24,82,80,1028,10/02/2023 12:05:13
196,Barcelona,ES,2023-02-15 00:00:00,Clouds,scattered clouds,9.68,9.34,30,0.0,0,1.45,345,83,1026,10/02/2023 12:05:13
197,Barcelona,ES,2023-02-15 03:00:00,Clouds,few clouds,8.99,8.10,16,0.0,0,1.90,12,81,1025,10/02/2023 12:05:13
198,Barcelona,ES,2023-02-15 06:00:00,Clouds,few clouds,8.75,7.49,18,0.0,0,2.30,21,75,1024,10/02/2023 12:05:13
199,Barcelona,ES,2023-02-15 09:00:00,Clouds,broken clouds,10.57,9.56,74,0.0,0,2.21,59,72,1023,10/02/2023 12:05:13

In [ ]:
weather = weather_2.drop(
    labels = ["country","information_retrieved_at"],
    axis=1,
    inplace=False 
)

In [ ]:
weather["city_id"] = ""

In [ ]:
weather.loc[weather["city"] == "Berlin", "city_id"] = "1"
weather.loc[weather["city"] == "Hamburg", "city_id"] = "2"
weather.loc[weather["city"] == "London", "city_id"] = "3"
weather.loc[weather["city"] == "Istanbul", "city_id"] = "4"
weather.loc[weather["city"] == "Barcelona", "city_id"] = "5"

In [ ]:
weather

,city,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,city_id
0,Berlin,2023-02-10 12:00:00,Clouds,broken clouds,4.47,0.83,75,0.0,0,4.69,261,81,1024,1
1,Berlin,2023-02-10 15:00:00,Clouds,broken clouds,4.48,1.18,83,0.0,0,4.07,249,79,1027,1
2,Berlin,2023-02-10 18:00:00,Clouds,overcast clouds,2.91,-0.93,90,0.0,0,4.36,239,83,1030,1
3,Berlin,2023-02-10 21:00:00,Clouds,broken clouds,1.60,-2.96,81,0.0,0,5.08,234,79,1032,1
4,Berlin,2023-02-11 00:00:00,Clouds,overcast clouds,2.33,-2.28,90,0.0,0,5.54,243,81,1030,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Barcelona,2023-02-14 21:00:00,Clouds,few clouds,10.51,9.71,17,0.0,0,0.24,82,80,1028,5
196,Barcelona,2023-02-15 00:00:00,Clouds,scattered clouds,9.68,9.34,30,0.0,0,1.45,345,83,1026,5
197,Barcelona,2023-02-15 03:00:00,Clouds,few clouds,8.99,8.10,16,0.0,0,1.90,12,81,1025,5
198,Barcelona,2023-02-15 06:00:00,Clouds,few clouds,8.75,7.49,18,0.0,0,2.30,21,75,1024,5
199,Barcelona,2023-02-15 09:00:00,Clouds,broken clouds,10.57,9.56,74,0.0,0,2.21,59,72,1023,5

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    200 non-null    object
 1   forecast_time           200 non-null    object
 2   outlook                 200 non-null    object
 3   detailed_outlook        200 non-null    object
 4   temperature             200 non-null    float64
 5   temperature_feels_like  200 non-null    float64
 6   clouds                  200 non-null    int64
 7   rain                    200 non-null    float64
 8   snow                    200 non-null    int64
 9   wind_speed              200 non-null    float64
 10  wind_deg                200 non-null    int64
 11  humidity                200 non-null    int64
 12  pressure                200 non-null    int64
 13  city_id                 200 non-null    object
dtypes: float64(4), int64(5), object(5)
memory usage: 22.0+ KB

# AIRPORTS

In [ ]:
airports = airports_2.drop(
    labels = ["location.lat","location.lon", "iata"],
    axis=1,
    inplace=False 
)

airports = airports.rename(columns={'municipalityName': 'city', 'countryCode': 'country_code', 'shortName': 'short_name'})

In [ ]:
airports["city_id"] = ""

In [ ]:
airports.loc[airports["city"] == "Berlin", "city_id"] = "1"
airports.loc[airports["city"] == "Hamburg", "city_id"] = "2"
airports.loc[airports["city"] == "London", "city_id"] = "3"
airports.loc[airports["city"] == "Istanbul", "city_id"] = "4"
airports.loc[airports["city"] == "Barcelona", "city_id"] = "5"

In [ ]:

airports

,icao,name,short_name,city,country_code,city_id
0,EDDB,"Berlin, Berlin Brandenburg",Brandenburg,Berlin,DE,1
1,EDDH,Hamburg,Hamburg,Hamburg,DE,2
2,EGLC,"London, London City",City,London,GB,3
3,EGKK,"London, London Gatwick",Gatwick,London,GB,3
4,EGSS,"London, London Stansted",Stansted,London,GB,3
5,EGLL,"London, London Heathrow",Heathrow,London,GB,3
6,EGGW,"London, London Luton",Luton,London,GB,3
7,LTFM,Istanbul,Istanbul,Istanbul,TR,4
8,LTFJ,"Istanbul, Sabiha Gökçen",Sabiha Gökçen,Istanbul,TR,4
9,LEBL,Barcelona,Barcelona,Barcelona,ES,5

In [ ]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   icao          10 non-null     object
 1   name          10 non-null     object
 2   short_name    10 non-null     object
 3   city          10 non-null     object
 4   country_code  10 non-null     object
 5   city_id       10 non-null     object
dtypes: object(6)
memory usage: 608.0+ bytes

# FLIGHTS

In [ ]:
flights = flights_2.drop(
    labels = ["departure_icao","data_retrieved_on"],
    axis=1,
    inplace=False 
)

flights = flights.rename(columns={'arrival_icao': 'icao', 'countryCode': 'country_code', 'shortName': 'short_name'})

In [ ]:
flights["arrival_time_local"] = pd.to_datetime(flights["arrival_time_local"])
flights["departure_time_local"] = pd.to_datetime(flights["departure_time_local"])

In [ ]:
flights

,icao,arrival_time_local,arrival_terminal,departure_city,departure_time_local,airline,flight_number
0,EDDB,2023-02-11 11:30:00+01:00,1,Paris,2023-02-11 09:40:00+01:00,easyJet,U2 5652
1,EDDB,2023-02-11 11:30:00+01:00,1,Paris,2023-02-11 09:40:00+01:00,easyJet,U2 5652
2,EDDB,2023-02-11 11:30:00+01:00,1,Paris,2023-02-11 09:40:00+01:00,easyJet,U2 5652
3,EDDB,2023-02-11 11:30:00+01:00,1,Paris,2023-02-11 09:40:00+01:00,easyJet,U2 5652
4,EDDB,2023-02-11 11:30:00+01:00,1,Paris,2023-02-11 09:40:00+01:00,easyJet,U2 5652
...,...,...,...,...,...,...,...
4419,LEBL,2023-02-11 22:35:00+01:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825
4420,LEBL,2023-02-11 22:35:00+01:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825
4421,LEBL,2023-02-11 22:35:00+01:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825
4422,LEBL,2023-02-11 22:35:00+01:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825
4423,LEBL,2023-02-11 22:35:00+01:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825

In [ ]:
flights["arrival_time_local"] = pd.to_datetime(flights["arrival_time_local"], utc=True)
flights["departure_time_local"] = pd.to_datetime(flights["departure_time_local"], utc=True)

In [ ]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   icao                  4424 non-null   object
 1   arrival_time_local    4424 non-null   datetime64[ns, UTC]
 2   arrival_terminal      3186 non-null   object
 3   departure_city        4424 non-null   object
 4   departure_time_local  3462 non-null   datetime64[ns, UTC]
 5   airline               4424 non-null   object
 6   flight_number         4424 non-null   object
dtypes: datetime64[ns, UTC](2), object(5)
memory usage: 242.1+ KB

In [ ]:
from google.colab import files

cities.to_csv("cities.csv", index=False)
files.download("cities.csv")

weather.to_csv("weather.csv", index=False)
files.download("weather.csv")

airports.to_csv("airports.csv", index=False)
files.download("airports.csv")

flights.to_csv("flights.csv", index=False)
files.download("flights.csv")